# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environment
# =========================
.venv/
venv/
env/

# =========================
# Python build files
# =========================
build/
dist/
*.egg-info/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log